.counter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  align-items: center;
}

.number {
  font-size: 50px;
}

.buttons {
  display: flex;
  gap: 16px;
}

button {
  padding: 4px 8px;
}