:root {

    --gray-900: oklch(19.37% 0.006 300.98);
    --white: whitesmoke;
}

body {
  background-color: var(--gray-900);
  color: var(--white);
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}