:root {

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --white: whitesmoke;
}

body {
  background-color: var(--gray-900);
  color: var(--white);
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

@media screen and (max-width: 650px) {

}